commonmark==0.9.1
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.4
gmsh==4.10.5
kiwisolver==1.4.4
matplotlib==3.6.0
meshio==5.3.4
numpy==1.23.2
packaging==21.3
Pillow==9.2.0
Pygments==2.13.0
pygmsh==7.1.17
pyparsing==3.0.9
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
python-dateutil==2.8.2
rich==12.5.1
Shapely==1.8.4
six==1.16.0
typing_extensions==4.3.0
